:root{
    --colorletra: aliceblue;
    --colorForm: #1C074D ;
}

body{
    background-image: url(./img/imgfont.jpeg);
    color: var(--colorletra);
    font-family: sans-serif;
}

h1{
    font-weight: 700;
}



.container{
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.container__section1{
    text-align: center;
}

.container__section2{
    background-color: var(--colorForm);
    max-width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    opacity: 0.9;
    padding: 15px 0 15px 0;
}

.container__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 600;
    
}

.button {
    background-color: #428E1A ;
    color: var(--colorletra);
    border: none;
    height: 30px;
    border-radius: 3px;
}

.container__form--mod{
    margin-top: 8px;
}

.container__form__input--mod{
    height: 30px;
    border-radius: 3px;
    color: grey;
    font-family: sans-serif;
}
.container__form__check--mod{
    margin-right: 15px;

}

